<html>
    <head>
        <title>About</title>
        <link rel="shortcut icon" href="/assets/img//favicon.ico">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <script src="/assets/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{name}}</p>
            <img class="profile-img" src="/assets/img/plan.jpg" alt="">
        </div>
       
        {{>footer}}
    </body>
</html>